.snack-flickr-gallery {
  width: 380px;
  height: 380px;
  
  overflow: hidden;
}

  .snack-flickr-gallery .flickr-images-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .snack-flickr-gallery img {
    position: absolute;
    z-index: 1;
    opacity: 0;

    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

  .snack-flickr-gallery img.active {
    z-index: 9;
    opacity: 1;
  }
